.card-hovered{
    color: #000000 !important;
    border: solid .025rem #DF6C4F !important;
    border-radius: .25rem !important;
}
.card-unhovered{
    color: #cdcdcd !important;
    border: none !important;
}
.card-hovered
.card-unhovered{
    text-align: left !important;
}
.col-md-5,
.col-md-7{
    color:#000000 !important;
}